DB_NAME=your_DB_name # Database Name
DB_USER=your_name # Username
DB_PASSWORD=your_password # User Password
SECRET_KEY_DJANGO=your_secret_key # Django's Secret Key
SECRET_KEY_STRIPE=your_secret_key # Stripe's Secret Key